$topic-offset: 1rem;
$black: #000;
$blue: #41239b;
$blue-light: #572fcf;

.topic {
  font-size: 1.1rem;
  line-height: 1.8rem;
  color: $black;
  * {
  }
  .mb-1 {
    margin-top: calc(#{$topic-offset} / 3) !important;
  }
  .mb-2 {
    margin-top: calc(#{$topic-offset} / 3 * 2) !important;
  }
  iframe {
    max-width: 100%;
  }
  table {
    margin-top: $topic-offset;
  }
  img {
    max-width: 100%;
    margin: 5px 0;
    @media(max-width: 768px) {
      height: auto;
    }
  }
  p {
    margin-bottom: 0;
    margin-top: $topic-offset;
  }
  a {
    color: $blue;
    border-bottom: 1px solid $blue;
    text-decoration: none;
    &:hover {
      color: $blue-light;
    }
  }
  ul {
    list-style: none;
    margin-top: 4px;
    padding-left: 10px;
    > li {
      color: $black;
      list-style: none;
      position: relative;
      margin-left: 0;
      padding-bottom: 5px;
      padding-left: 10px;
      &::marker {
        display: none;
      }
      &:last-child {
        padding-bottom: 0;
      }
      &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $black;
        top: 10px;
        left: -8px;
      }
      ul {
        margin-top: 4px;
      }
    }
  }
  ol {
    list-style: none;
    counter-reset: li;
    padding-left: 10px;
    margin-top: 4px;
    > li {
      padding: 0 0 0 27px;
      margin: 0;
      color: $black;
      position: relative;
      &:last-child {
        padding-bottom: 0;
      }
      &::before {
        counter-increment: li;
        content: counters(li,".") ". ";
        color: #262626;
        top: 0;
        left: 0;
        position: absolute;
        background: none;
        width: auto;
        height: auto;
        font-weight: 400;
        padding-right: 3px;
        display: initial;
      }
      & + li {
        margin: 4px 0 0;
      }
      ul {
        padding-left: 10px;
      }
      p {
        margin-top: 0;
      }
      ol > li {
        padding-left: 38px;
        ol > li {
          padding-left: 50px;
        }
      }
    }
  }
  h1 {
    color: $black;
    font-weight: 600;
    margin-top: calc(#{$topic-offset} - 0.2rem);
  }
  h2 {
    color: $black;
    line-height: 34px;
    font-weight: 300;
    margin-top: calc(#{$topic-offset} - 0.2rem);
    span {
      line-height: 1.4;
    }
  }
  h3 {
    color: $black;
    font-weight: 600;
    margin-top: calc(#{$topic-offset} - 0.2rem);
  }
  h4 {
    color: $black;
    font-weight: 600;
    margin-top: calc(#{$topic-offset} - 0.2rem);
  }
  h5 {
    color: $black;
    font-weight: 600;
    font-size: 19px;
    margin-top: calc(#{$topic-offset} - 0.2rem);
  }
  h6 {
    color: $black;
    font-weight: 600;
    font-size: 16px;
    margin-top: calc(#{$topic-offset} - 0.2rem);
  }
  blockquote {
    p {
      font-weight: 600;
      color: #505050;
    }
  }
  table {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: #e2e9f2;
  }
  table thead td {
    border-bottom-width: 2px;
  }
  table th {
    vertical-align: bottom;
    background: #eef2f8;
    color: #6e7fa2;
    font-weight: 400;
  }
  table tr, table td, table th {
    height: auto !important;
  }
  table td, table th
  {
    border-top: 1px solid #dee2e6;
    vertical-align: top;
    padding: 16px 10px;
  }
  table tr th:first-child,
  table tr td:first-child {
    text-align: left;
  }
  table tr:last-child td {
    border-bottom: 1px solid #dee2e6;
  }
  table td p, table th p {
    margin-top: 0;
  }
  table td p + p, table th p + p {
    margin-top: 1rem;
  }
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 0 auto;
  }
  p + img, br + img {
    margin-top: 1rem;
  }
}
