$topic-offset: 1rem;
$black: #000;
$blue: #41239b;
$blue-light: #572fcf;

.topic {
  font-size: 16px;
  line-height: 24px;
  color: $black;
  .mb-1 {
    margin-bottom: calc(#{$topic-offset} / 3) !important;
  }
  .mb-2 {
    margin-bottom: calc(#{$topic-offset} / 3 * 2) !important;
  }
  iframe {
    max-width: 100%;
  }
  table {
    margin-bottom: $topic-offset;
  }
  img {
    max-width: 100%;
    margin: 5px 0;
    @media(max-width: 768px) {
      height: auto;
    }
  }
  p {
    margin-bottom: $topic-offset;
  }
  > p:last-child {
    margin-bottom: 0;
  }
  a {
    color: $blue;
    border-bottom: 1px solid $blue;
    &:hover {
      color: $blue-light;
    }
  }
  ul {
    li {
      color: $black;
      list-style: none;
      font-size: 16px;
      position: relative;
      margin-left: 20px;
      padding-bottom: 5px;
      &::marker {
        display: none;
      }
      &:last-child {
        padding-bottom: 0;
      }
      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $black;
        top: 8px;
        left: -18px;
      }
      ul {
        margin-top: 4px;
        li::before {
          background: transparent;
          border: 1px solid $black;
        }
      }
    }
  }
  li {
    color: #262626;
    font-size: 15px;
    position: relative;
    margin-left: 20px;
    padding-bottom: 5px;
    &:last-child {
      padding-bottom: 0;
    }
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #262626;
      top: 8px;
      left: -18px;
    }
  }
  ol {
    list-style: none;
    counter-reset: li;
    margin-bottom: $topic-offset;
    li {
      color: $black;
      font-size: 15px;
      margin-left: 0;
      position: relative;
      padding-bottom: 5px;
      &:last-child {
        padding-bottom: 0;
      }
      &::before {
        counter-increment: li;
        content: counters(li,".") ". ";
        color: #262626;
        top: 0;
        left: 0;
        position: static;
        background: none;
        width: auto;
        height: auto;
        font-size: 16px;
        font-weight: 400;
        padding-right: 3px;
        display: initial;
      }
    }
  }
  h1 {
    color: $black;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: calc(#{$topic-offset} - 0.2rem);
  }
  h2 {
    color: $black;
    font-size: 32px;
    line-height: 34px;
    font-weight: 300;
    margin-bottom: calc(#{$topic-offset} - 0.2rem);
    span {
      font-size: 26px !important; // потому, что из бэка перезатирают своими 30pt
      line-height: 1.4;
    }
  }
  h3 {
    color: $black;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: calc(#{$topic-offset} - 0.2rem);
  }
  h4 {
    color: $black;
    font-weight: 600;
    font-size: 21px;
    margin-bottom: calc(#{$topic-offset} - 0.2rem);
  }
  h5 {
    color: $black;
    font-weight: 600;
    font-size: 19px;
    margin-bottom: calc(#{$topic-offset} - 0.2rem);
  }
  h6 {
    color: $black;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: calc(#{$topic-offset} - 0.2rem);
  }
  blockquote {
    p {
      font-size: 18px;
      font-weight: 600;
      color: #505050;
    }
  }
  .table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: #e2e9f2;
  }
  .table thead td {
    border-bottom-width: 2px;
  }
  .table thead th {
    vertical-align: bottom;
    background: #eef2f8;
    color: #6e7fa2;
    font-weight: 400;
  }
  .table tbody td,
  .table tbody th {
  }
  .table td,
  .table th {
    border-top: 1px solid #dee2e6;
    vertical-align: top;
    padding: 16px 10px;
  }
  .table tr th:first-child,
  .table tr td:first-child {
    text-align: left;
  }
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
